.library {
  position: fixed;
  left: 0;
  top: 0;
  background-color: beige;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.7s linear;
}
.menuleft {
  left: -100%;
}
@media screen and (max-width:710px) {
  .library {
     transition: all 0.3s linear;
  }
}