.App {
  padding-top: 60px;
  min-height: 100vh;
}
@media screen and (max-width:520px){
  .App {
    min-height: auto;
    padding-bottom: 110px;
  }
}
@media screen and (max-width:410px){
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 100vh;
  }
}