body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conteiner {
  width: 420px;
  margin: 0 auto;
  padding: 0 24px;
  /* border: 1px solid #000; */

  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.kk{
  position: absolute;
  right: 490px;
}

@media screen and (max-width:520px){
  .conteiner {
    width: 310px;
  }
}
@media screen and (max-width:480px){
  .conteiner {
    width: 280px;
  }
}
@media screen and (max-width:410px){
  .conteiner {
    width: 100%;
    border: none;
  }
}